// Fonts
@use "sass:math";
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

@function pxToRem($pxValue) {
    @return math.div($pxValue, 16) * 1rem;
}
.mainContainer {
    width: 100%;
}
body {
    background-color: #003366;
    color: white;
}
/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2000;
    background-color: #000034; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 20px;

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    // font-size: 25px;
    color: white;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: orange;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.welcomeName {
    opacity: 1;
    animation: 1s ease-out 0s 1 hideToShow;
}
@keyframes hideToShow {
    0% {
        opacity: 0;
        width: 0%;
        // transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        width: 100%;
        // transform: translateX(0);
    }
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    @media screen and (min-width: 781px) {
        padding: 10px pxToRem(60);
    }
}

.openbtn:hover {
    color: orange;
}
.togglediv {
    position: fixed;
    z-index: 1000;
    background-color: #003366;
    top: 0;
    right: 0;
    left: 0;
}
.largecard {
    height: 250px;
   
    color: #000034;
    background-color: burlywood;
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter,
        filter;
    transition-duration: 1s;
    //    z-index: 1;
    filter: drop-shadow(
        0px 0.15px 0.45px rgba(0, 0, 0, 0.03),
        0px 0.8px 1.8px rgba(0, 0, 0, 0.05)
    );
    border-radius: pxToRem(16);
    &:hover {
        border-radius: pxToRem(16);
        filter: drop-shadow(0px 5px 16px rgba(0, 0, 0, 0.1));

        box-shadow: 0;
    }
    cursor: pointer;
}
.homelargecard {
    height: 548px;
    background-color: #000034;
}
.settingsCard {
    color: #000034;
    display: flex;
    flex-direction: column;
    gap: 20px;
    filter: drop-shadow(0px 5px 16px rgba(0, 0, 0, 0.1));
}
.contactGap {
    display: flex;
    flex-direction: row;
    gap: 30%;
    align-items: center;
}
.mainSetting {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.editbtn {
    width: max-content;
    float: right;
}
.rowItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.marketCard {
    height: 250px;
}
.contentArea {
    padding: pxToRem(20);
    padding-top: pxToRem(60);
    @media screen and (min-width: 781px) {
        padding: pxToRem(60);
        padding-top: pxToRem(70);
    }
}
.homepage {
    width: 100%;
    @media screen and (min-width: 781px) {
        width: 50%;
        background-color: pink;
    }
}
.singleLine {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    word-wrap: break-word;
    white-space: pre-wrap;
    -webkit-box-orient: vertical;
 }
 .twoLineText {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: pxToRem(20);
    height: pxToRem(40);
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
 }
 .h1 {
    font-weight: bold;
    font-size: pxToRem(92);
    line-height: 100%;
 
    @media only screen and (max-width: 768px) {
       font-size: pxToRem(44);
    }
 }
 
 .h2 {
    font-weight: bold;
    font-size: pxToRem(40);
    line-height: 100%;
    @media only screen and (max-width: 768px) {
       font-size: pxToRem(36);
    }
 }
 
 .h3 {
    font-weight: bold;
    font-size: pxToRem(32);
    line-height: 125%;
    @media only screen and (max-width: 768px) {
       font-size: pxToRem(28);
    }
 }
 
 .h4 {
    font-weight: bold;
    font-size: pxToRem(24);
    line-height: 125%;
 }
 
 .h5 {
    font-weight: bold;
    font-size: pxToRem(20);
    line-height: 125%;
 }
 
 .s1 {
    font-weight: bold;
    font-size: pxToRem(16);
    line-height: 140%;
 }
 
 .s2 {
    font-weight: bold;
    font-size: pxToRem(14);
    line-height: 140%;
 }
 
 .body1 {
    font-size: pxToRem(16);
    line-height: 150%;
 }
 
 .body2 {
    font-size: pxToRem(14);
    line-height: 150%;
 }
 
 .caption1 {
    font-size: pxToRem(12);
    line-height: 120%;
 }
 
 .caption2 {
    font-weight: bold;
    font-size: pxToRem(12);
    line-height: 120%;
 }
 
 .caption3 {
    font-size: pxToRem(10);
    line-height: 120%;
 }
 